body {
    font-family: Arial, sans-serif;
    background-image: url('images/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
    color: #333;
    min-height: 100vh;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #ff5722;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    margin-top: 20px;
}

#username, #comment-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#comments-list p {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    color: white; /* Color del texto */
}

#logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
}